* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img.stretchy {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
