
<!-- begin nav-->
    <nav>
      <div class="nav-wrapper">
        <a href="/homepage" class="brand-logo left"><img
            src="./images/dev.png"
          /></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/search"><i class="material-icons right">search</i>Search
              For Bootcamps</a>
          </li>
          <li>
            <a href="/hire"><i
                class="material-icons right"
              >verified_user</i>Hire A Bootcamp Graduate</a>
          </li>
          <li>
            <a href="/rate"><i class="material-icons right">star</i>Bootcamp
              Reviews</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end nav -->
    <!-- begin banner image -->
    <div class="banner">
      <img class="logo" height="100%" width="100%" src="./images/banner1.png" />
    </div>
    <!--end banner-->
    <div class="search-results">
      <section>
        <h2>Create New Review</h2>
        <form class="new-post-form">
          <div>
            <label for="post-title">Review Title</label>
            <input type="text" id="post-title" name="post-title" />
          </div>
          <div>
            <label for="post-bootcampName">Bootcamp Name</label>
            <input type="text" id="post-bootcampName" name="post-bootcampName"/>
          </div>
          <div>
            <label for="post-deliveryFormat">Delivery Format: In-Person, Online, or Hybrid</label>
            <input type="text" id="post-deliveryFormat" name="post-deliveryFormat"/>
          </div>
          <div>
            <label for="post-length">How many weeks was your Bootcamp?</label>
            <label for="weeks">Number of Weeks (1-52):</label>
            <input type="number" id="weeks" name="post-length" min="1" max="52">
          </div>
          <div>
            <label for="post-status">Was your bootcamp full time or part time?</label>
            <input type="text" id="post-status" name="post-status"/>
          </div>
          <div>
            <label for="post-price">Price</label>
            <input type="text" id="post-price" name="post-price" />
          </div>
          <div>
            <label for="quality">Quality Rating (between 0 and 10):</label>
            <input type="number" id="quality" name="post-quality" min="0" max="10">
          </div>
          <div>
            <label for="post-standardsMet">Did it meet your expectations?</label>
            <input type="text" id="post-standardsMet" name="post-standardsMet" />
          </div>
          <div>
            <label for="post-repeat">Would you choose this Bootcamp again?</label>
            <input type="text" id="post-repeat" name="post-repeat" />
          </div>
          <div>
            <label for="rating">Overall Rating (between 1 and 10):</label>
            <input type="number" id="rating" name="post-overallRating" min="0" max="10">
          </div>
          <div>
            <label for="post-review_comments">Additional Comments</label>
            <input type="text" id="post-review_comments" name="post-review_comments" />
          </div>
          <button type="submit" class="btn">Create</button>
        </form>
      </section>
    </div>
   <!--begin footer-->
<footer class="page-footer">
  <center>
          <div class="container">
         © 2021 Copyright All Rights Reserved
          </div>
          </center>
        </footer>  
</html>

