<!-- begin nav-->
    <nav>
      <div class="nav-wrapper">
        <a href="/homepage" class="brand-logo left"><img
            src="./images/dev.png"
          /></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/search"><i class="material-icons right">search</i>Search
              For Bootcamps</a>
          </li>
          <li>
            <a href="/hire"><i
                class="material-icons right"
              >verified_user</i>Hire A Bootcamp Graduate</a>
          </li>
          <li>
            <a href="/rate"><i class="material-icons right">star</i>Bootcamp
              Reviews</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end nav -->
    <!-- begin banner image -->
    <div class="banner">
      <img class="logo" height="100%" width="100%" src="./images/banner1.png" />
    </div>
    <!--end banner-->
   <!--begin footer-->
<footer class="page-footer">
  <center>
          <div class="container">
         © 2021 Copyright All Rights Reserved
         <a href="/homepage" class="footer-logo"></a><img
            src="./images/footer.png"
          /></a>
          </div>
          </center>
        </footer>  