<!-- begin nav-->
    <nav>
      <div class="nav-wrapper">
        <a href="/homepage" class="brand-logo left"><img
            src="./images/dev.png"
          /></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/search"><i
                class="material-icons right"
              >search</i>Search For Bootcamps</a>
          </li>
          <li>
            <a href="/hire"><i
                class="material-icons right"
              >verified_user</i>Hire A Bootcamp Graduate</a>
          </li>
          <li>
            <a href="/rate"><i class="material-icons right">star</i>Bootcamp Reviews</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end nav -->
    <!-- begin banner image -->
    <div class="banner">
      <img class="logo" height="100%" width="100%" src="./images/banner1.png" />
    </div>
    <!--end banner-->

    <!--begin login-->
    <form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="button">login</button>
  </div>
</form>
 <!--endlogin-->

 <!--begin footer-->
<footer class="page-footer">
  <center>
          <div class="container">
         © 2021 Copyright All Rights Reserved
          </div>
          </center>
        </footer>  
            

