<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rate Your Bootcamp</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../stylesheet/styles.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- begin nav-->
    <nav>
      <div class="nav-wrapper">
        <a href="homepage" class="brand-logo left"
          ><img src="./images/dev.png" width="30%" height="30%"
        /></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="search"
              ><i class="material-icons right">search</i>Search For Bootcamps</a
            >
          </li>
          <li>
            <a href="hire"
              ><i class="material-icons right">verified_user</i>Hire A Bootcamp
              Graduate</a
            >
          </li>
          <li>
            <a href="rate"
              ><i class="material-icons right">star</i>Bootcamp Reviews</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!-- end nav -->
    <!-- begin banner image -->
    <div class="banner">
      <img class="logo" height="300px" src="./images/banner1.png" />
    </div>
    <!--end banner-->
    <div class="search-results">
      <h1>Bootcamp results will go here</h1>
    </div>
  </body>
</html>
